


@media(max-width: 428px) {
    .header{
      
        margin: auto;
        margin-bottom: 10px;
    }

   .search {
       
      font-size: 12px;
      max-width: 60%;
      max-height: 50%;
    }
   
    
    .search1{
        
        max-width: 30%;
        max-height: 30%;
        position: absolute;
        top: 50%; transform: translateY(-50%); 
         right: 110px;
    }

    
    .modal{
        width: 80%;
        height: 100vh;
        margin: 10px  10px auto auto;
    }
    .detals-ofpeople{
        margin: auto;
        text-align: center;
        height: 70px;
        width: 40%;
    }
    .people {
        height: auto;
        width: auto;
    }
    a{
        font-size: 16px;
    }
    .total {
        font-size: 16px;
    }
   
}